.skills {
    padding: 40px 0;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Maximal 5 Spalten pro Reihe */
    gap: 20px; /* Entfernt den Abstand zwischen den Karten */
    justify-items: center; /* Zentriert die Items horizontal */
    grid-auto-rows: 1fr; /* Gleiche Zeilenhöhe */
    justify-content: center; /* Zentriert das Grid in der Mitte des Containers */
    align-items: center; /* Zentriert die Elemente vertikal */
    margin: 0 auto; /* Zentriert das Grid auf der Seite */
    max-width: 50%; /* Begrenzt die Breite des Grids auf 50% */

  }
  
  .tech-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  
  .tech-card:hover {
    transform: scale(1.1); /* Hover-Effekt */
  }
  
  .tech-icon {
    max-width: 100px; /* Icon-Größe */
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    margin-bottom: 10px;
  }
  
  
  @media (max-width: 1024px) {
    .tech-grid {
      grid-template-columns: repeat(4, 1fr); /* Auf mittleren Bildschirmen 4 Spalten */
    }
  }
  
  @media (max-width: 768px) {
    .tech-grid {
      grid-template-columns: repeat(3, 1fr); /* Auf mobilen Geräten 3 Spalten */
    }
  }
  
  @media (max-width: 480px) {
    .tech-grid {
      grid-template-columns: repeat(2, 1fr); /* Auf sehr kleinen Geräten 2 Spalten */
    }
  }
  